@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --font: "Roboto", "sans-serif";
    --greyish: #218380;
    --charcoal-clack: #01161E;
    --border-color: #73D2DE;
    --white-shade: #fbfbfb;
}

body {
    margin: 0%;
    padding: 0%;
}

* {
    box-sizing: border-box;
}

#main-container {
    width: fit-content;
    margin: 0px auto;
    margin-top: 150px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
}

.content-container {
    display: flex;
}


#sign-up-cont {
    display: none;
    overflow-y: scroll;

}

#sign-in-cont {
    /* display: none; */
}

.form {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 20px 30px;
}

.form>h1 {
    color: var(--greyish);
    margin: 0%;
    font-size: 34px;
    font-family: var(--font);
    font-weight: 800;
    margin: 15px auto;
}

.form>label {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.form>label>p {
    color: var(--greyish);
    margin: 0%;
    font-size: 20px;
    font-weight: 600;
    font-family: var(--font);
}

.form>label>input {
    width: 350px;
    color: var(--charcoal-clack);
    padding: 10px 10px;
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    font-size: 14px;
    font-weight: 500;
    font-family: var(--font);
    border-radius: 5px;
}

.form>label>input:hover {
    border: 1px solid var(--border-color);
    outline: none;
}

.form>label>input:focus {
    border: 1px solid var(--border-color);
    outline: none;
}

.form>button {
    border: none;
    outline: none;
    font-size: 22px;
    font-family: var(--font);
    font-weight: 800;
    letter-spacing: 3px;
    padding: 7px 0px;
    color: #fff;
    background-color: var(--border-color);
    border-radius: 5px;
    margin-top: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.text-container {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: var(--border-color);
    padding: 10px 10px;
    color: var(--white-shade);
    font-family: var(--font);
}

.text-container>h5 {
    margin: 0%;
    font-size: 28px;
    font-weight: 800;
    line-height: 40px;
}

.text-container>p {
    text-align: center;
    margin: 0%;
    font-size: 17px;
}

.text-container>.linking-cont {
    display: flex;
    background-color: rgba(0, 0, 0, 0.15);
    padding: 8px 10px;
    border-radius: 10px;
    margin-top: 8px;
    font-size: 14px;
}

.linking-cont>p {
    margin: 0%;
}

.linking-cont>p>span {
    font-size: 16px;
}


#pre-load-state {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 14px 20px;
    background-color: #f2f2f2;
    color: var(--charcoal-clack);
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
    display: none;
}

#rotater {
    font-size: 30px;
    font-weight: 800;
    animation-name: rotate;
    animation-duration: 0.8s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#pre-load-state>.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
}

#pre-load-state>.text>p {
    margin: 0%;
    font-size: 20px;
    font-family: var(--font);
    font-weight: 400;
}

#pre-load-state>.text>#text-state {
    font-size: 24px;
    font-weight: 900;
}

#pre-load-state>.text>#text-default {
    font-size: 18px;
    font-weight: 600;
    color: #656565;
}

#error-unveiler {
    position: absolute;
    padding: 0%;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: none;
}

#error-unveiler>#icn {
    font-size: 80px;
    color: red;
}

#error-unveiler>p {
    margin: 0%;
    font-size: 25px;
    text-align: center;
    font-family: var(--font);
    font-weight: 600;
    color: var(--charcoal-clack);
}

#error-unveiler>button {
    width: 100%;
    background-color: var(--border-color);
    font-size: 20px;
    font-family: var(--font);
    font-weight: 800;
    border: none;
    outline: none;
    color: var(--white-shade);
    padding: 5px 0px;
    border-radius: 5px;
    letter-spacing: 3px;
}

#user-details-cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    display: none;
}

#user-details-cont>.header {
    display: flex;
    flex-direction: column;
}

#user-details-cont>.header>.bg-text {
    padding: 80px 50px;
    background-color: var(--border-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    font-family: var(--font);
    color: #f2f2f2;
    font-weight: 800;
    font-style: italic;
    letter-spacing: 5px;
    word-spacing: 6px;
}

#user-details-cont>.header>.image {
    width: fit-content;
    height: fit-content;
    position: absolute;
    left: 5%;
    top: 15%;
    transform: translate(-10%, -15%);
    border: 6px solid var(--border-color);
    border-radius: 50%;
}

#user-details-cont>.header>.image>img {
    width: 230px;
    height: 230px;
    border-radius: 50%;
}

.content-container {
    margin-top: 7%;
    border-top: 3px solid #f9f9f9;
    border-bottom: 3px solid #f9f9f9;
}

.content-container>.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 150px;
    background-color: #f9f9f9;
}

.content-container>.content>div {
    color: #101010;
    font-size: 20px;
    font-family: var(--font);
    font-weight: 600;
    margin: 5px 0px;
}

.content-container>.content>div>span {
    background-color: rgba(0, 0, 0, 0.04);
    padding: 5px 15px;
    font-size: 25px;
    font-weight: 800;
}

#sign-out-btn {
    width: fit-content;
    border: none;
    outline: none;
    padding: 10px 25px;
    color: #101010;
    background-color: var(--border-color);
    color: #fbfbfb;
    font-size: 20px;
    font-family: var(--font);
    font-weight: 600;
    border-radius: 10px;
    font-style: italic;
    letter-spacing: 2px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-top: 10px;
}